<article>
<header>
	<h1><%=  link_to (post.title), post %></h1>
</header>
<div class="info group">
	<div class="published-on"><%= format_post_date(post.published_at) %></div>
	<p>Posted in <%= linked_tag_list(post.tags) %></p>
</div><!-- info group -->
<div id="article-wrap">

  <%=raw post.body_html %>


    <p><%= link_to(pluralize(post.approved_comments.size, "comment"), post_path(post, :anchor => 'comments')) %></p>
</div><!-- article-wrap -->
</article>
