<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title><%= html_title yield(:page_title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript" src="http://use.typekit.com/vfg6lmf.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
  <%= open_id_delegation_link_tags(enki_config[:open_id_delegation, :server], enki_config[:open_id_delegation, :delegate]) if enki_config[:open_id_delegation] %>
  <%= yield(:head) %>
</head>
<body>
	<div class="page group">
   <header id="main">

			<%= link_to image_tag("logo.png", :alt => "Home"), posts_path %>
			
			<nav>
				<ul>
					<li><%= link_to "Home", posts_path, :title => "Home" %></li>
					<li><%= link_to "Archives", archives_path, :title => "Archives" %></li>
					<li><%= link_to "About", "/about", :title => "About" %></li>
					<li><%= link_to "Subscribe", "/atom.xml", :title => "Subscibe to Jason Thompson's weblog" %></li>
				</ul>
		 </nav>
		 <p id="tagline">This is where Jason Thompson thinks outloud</p>
	</header>
			<%= yield %>

<footer>
<div id="footer-left">
	<h2>Who?</h2>
	<p>Jason Thompson is a husband, father, cyclist, writer, photographer and programmer and all-around builder of stuff based in Toronto, Ontario.</p>

	<h2>Copyright</h2>
	<p>The material on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike license</a>.

</div><!-- footer-left -->

<div id="footer-right">
	<h2>Recent Posts</h2>

	<h2>Elsewhere</h2>
	  <ul>
			<li><a href="http://www.120babies.ca/" title="Mary-Margaret's weblog">MM's Weblog</a></li>
			<li><a href="http://www.twitters.com/jasonthompson" title="Follow me on tsitter">Follow me on Twitter</a></li>
		</ul>
</footer>
  </div><!-- page group -->
</body>
</html>
